venv
.DS_Store
twitter
twittertraining.csv
averaged_perceptron_tagger.pickle



datasets
finalprojvenv
practice
notes.md
training.csv
env
secret_notes
.env
.idea
__pycache__

kafka_stuff/.confluent/
glove

/kafka_stuff/additional.config
/kafka_stuff/vectorizer.pickle
/kafka_stuff/tweets_tagged.csv
/kafka_stuff/LRmodel.pickle
/kafka_stuff/df_tagged.pkl
secrets.py
secrets.py
kafka_stuff/secrets.py
/kafka_stuff/secrets.py
