venv
.DS_Store
twitter
twittertraining.csv
averaged_perceptron_tagger.pickle



datasets
finalprojvenv
practice
notes.md
training.csv
env
secret_notes
.env
.idea
__pycache__

kafka_stuff/.confluent/
glove

